{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

<section class="gh-container is-list has-sidebar no-image gh-outer">

    <div class="gh-container-inner gh-inner">
        {{#if showTitle}}
            <h2 class="gh-container-title">
                {{#unless title}}Latest{{else}}{{title}}{{/unless}}
            </h2>
        {{/if}}
        <main class="gh-main">
            <div class="gh-feed">

                {{!-- Homepage --}}
                {{#match feed "home"}}
                    {{#get "posts" include="tags" limit="12"}}
                        {{#foreach posts}}
                            {{> "post-card" post=. lazyLoad=true}}
                        {{/foreach}}
                    {{/get}}
                {{/match}}

                {{!-- All posts --}}
                {{#match feed "index"}}
                    {{#match pagination.page 2}}
                        {{#get "posts" include="authors" limit=@config.posts_per_page as |recent|}}
                            {{#foreach recent}}
                                {{> "post-card"}}
                            {{/foreach}}
                        {{/get}}
                    {{/match}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

                {{!-- Tag and author pages --}}
                {{#match feed "archive"}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

            </div>

            {{#match pagination.pages ">" 1}}
                <div class="gh-more is-title">
                    <a href="{{@site.url}}/page/2">See all {{> "icons/arrow"}}</a>
                </div>
            {{/match}}
        </main>

        <aside class="gh-sidebar">
            <div class="gh-sidebar-inner">
                <section class="gh-about">
                    {{#if @site.icon}}
                        <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}" loading="lazy">
                    {{/if}}
                    <h3 class="gh-about-title is-title">{{@site.title}}</h3>
                    {{#if @site.description}}
                        <p class="gh-about-description is-body">{{@site.description}}</p>
                    {{/if}}
                    {{#if @site.members_enabled}}
                        {{#unless @member}}
                            <button class="gh-button" data-portal="signup">Subscribe</button>
                        {{else}}
                            {{#if @site.paid_members_enabled}}
                                {{#unless @member.paid}}
                                    <button class="gh-button" data-portal="upgrade">Upgrade</button>
                                {{/unless}}
                            {{/if}}
                        {{/unless}}
                    {{/if}}
                </section>
                {{#if @site.recommendations_enabled}}
                    <section class="gh-recommendations">
                        <h4 class="gh-sidebar-title">Recommendations</h4>
                        {{recommendations}}
                        <button data-portal="recommendations">See all {{> "icons/arrow"}}</button>
                    </section>
                {{/if}}
            </div>
        </aside>

    </div>
</section>